<div id="page-wrapper">
    <div class="row">
    <div class="alert alert-success my-alert col-md-4 pull-right hide" role="alert" class="">
  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  		<strong>Warning!</strong> Better check yourself, you're not looking too good.
	</div>
        	<h1 class="page-header margin-top" ng-bind="pageHeader"></h1>
            <div ng-view></div>
    </div>
</div>